# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Node dependencies & environment
node_modules/
.env
.env.local
.env.*.local
*.log
uploads/

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
android/app/debug
android/app/profile
android/app/release

# IDE & Editor configs
.idea/
*.iml
*.ipr
*.iws
.vscode/
