.main-content-top {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-bottom: 32px;
}

/* .sidebar-toggle {
    display: flex;
    align-items: center;
    margin-right: 12px;
    color: #000;
} */

/* .fa-bars { */
    /* width: 30px; */
    /* font-size: 30px; */
/* } */