@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: "Poppins", serif;
  background-color: #f7f5f5;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --clr-primary: #fff;
  --clr-primary-light: #676A6C;
  --clr-secondary: #1e1611;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-pumpkin: #fe6c00;
  --clr-silver: #a8a5a6;
  --clr-silver-v1: #bdbabb;
  --clr-scarlet: #fe1e00;
  --clr-scarlet-v1: rgb(254, 30, 0, 0.79);
  --clr-green: #00fe93;
  --clr-yellow: #fec80a;
  --clr-jet: #302924;
  --clr-peach: #ffc397;
  --font-family-bai: "Bai Jamjuree", sans-serif;
  --transition-default: all 300ms ease-in-out;
}

ul {
  list-style: none;
}

/* .container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #111;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
} */

input,
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

input {
  background-color: #222;
  color: #fff;
}


.in:focus {
  box-shadow: none;
  border: 2px solid #000;
}

.app {
  display: flex;
  min-height: 100vh;
}

/* button {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #444;
  color: #fff;
} */

.img-ad {
  width: 600px;
}

@media only screen and (max-width: 600px) {

  .table-menu>thead>tr>th,
  .table-menu>tbody>tr>td {
    font-size: 0.8rem;
  }

  .table-menu>tbody>tr>td>.btn {
    padding: 7px;
  }

  .img-ad {
    width: 100%;
  }

  .img-outlet {
    width: 100%;
  }
}